[submodule "thread-pool"]
	path = thread-pool
	url = https://github.com/DeveloperPaul123/thread-pool.git
[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
